sphinx~=7.1.1
sphinx-autoapi~=2.1.1
furo~=2023.7.26
sphinx-needs~=1.2.2
sphinxcontrib-plantuml~=0.25
sphinxcontrib-jquery~=4.1
sphinx-test-reports~=1.0.2
sphinx_mdinclude~=0.5.3
sphinx-immaterial~=0.11.6
sphinx-git~=11.0.0
sphinx-click~=4.4.0
pylint~=2.17.5
pydot~=1.4.2